<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<meta charset="utf-8">
		<title>
			店家管理平台-登录
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="renderer" content="webkit">
		<meta property="qc:admins" content="77103107776157736375" />
		<meta property="wb:webmaster" content="c4f857219bfae3cb" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<meta http-equiv="Cache-Control" content="no-transform " />
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' 'unsafe-eval' *.baidu.com *.sina.com.cn *.bootcss.com">
		<meta name="keywords" content=""
		/>
		<meta name="description" content=""
		/>
		<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/moco.css' %}" type="text/css" />
	
		<link rel="stylesheet" href="{% static 'css/login.css' %}" />
	</head>
	<body>
		<div id="head" class="sig-head">
			<a href="{% url 'index' %}" target="_self" class="sig-img">
				店家管理平台
			</a>
		</div>
		<div id="main">
			<div class="container js-pageLogin">
				<div class="wrap clearfix">
					<div class="wrap-left">
						<div class="login-wrap">
							<div class="wel-hd">
								<h1 class="form-h1 l">
									欢迎登录
								</h1>
								<a href="{% url 'register' %}" class="on-register r">
									立即注册
								</a>
								<span class="no-account r">
									没有帐号？
								</span>
							</div>
							<div class="loginWrap">
                			</div>
							<div id="signin" class="rl-modal">
							  	<div class="rl-modal-body js-loginWrap">
							  		<div class="clearfix">
										<div class="l-left-wrap l">
											<form id="signup-form" action="{% url 'do_login' %}" method="POST" autocomplete="off">
												<p class="rlf-tip-globle color-red" id="signin-globle-error"></p>
												<div class="rlf-group pr">
													<input id="username" type="text" value=""  maxlength="37" name="username" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入登录用户名/手机号"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入正确的用户名或手机号"></p>
												</div>
												<div class="rlf-group  pr">
													<input id="password" type="password" name="password" data-validate="require-password" class="ipt ipt-pwd js-loginPassword js-pass-pwd" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="16" autocomplete="off"/>
													<p class="rlf-tip-wrap errorHint color-red " data-error-hint="请输入6-16位密码，区分大小写，不能使用空格！"></p>
												</div>

												<div class="rlf-group clearfix form-control js-verify-row">
													<select id="select" class="ui-select">
														<option id="buyer" value="1">买家登录</option>
														<option id="seller" value="2">卖家登录</option>
													</select>
												</div>
												<div class="rlf-group rlf-appendix form-control  clearfix">
													<label for="auto-signin" class="rlf-autoin l"><input type="checkbox" checked="checked" class="auto-cbx" id="auto-signin">下次自动登录</label>
													<a href="./forget_password.html" class="rlf-forget r" target="_blank">忘记密码 </a>
												</div>
												<div class="rlf-group clearfix">
													<input id="login" type="button" value="登录" class="btn-red btn-full xa-login" onclick="test()"/>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="vright">
			© 2014 5uw1st.com All Rights Reserved 京ICP备 13046642号
		</div>
		<script type="text/javascript" src="{% static 'js/common/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/base/base.js' %}"></script>
		<script type="text/javascript">
		/*
			$("#login").click(function(){
				//var data = ajaxGet("./test.html");
				setCookie("test","testcookie");
				alert(getCookie("test"));
				delCookie("test");
			});
		*/
		//function test(){alert("123456")}
		$(document).ready(function(){
		});
		</script>
		<div style="display: none">
		</div>
	</body>

</html>