<!DOCTYPE html>
<html>

		<meta charset="utf-8">
		<title>
			yummy-注册
		</title>
		<form id="signup-form" action="{% url 'do_register' %}" method="POST" autocomplete="off">
												<p class="rlf-tip-globle color-red" id="signin-globle-error"></p>
												<div class="rlf-group pr">
													<input id="username" type="text" value=""  maxlength="37" name="username" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入登录用户名/手机号"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入正确的用户名或手机号"></p>
												</div>
												<div class="rlf-group  pr">
													<input id="password" type="password" name="password" data-validate="require-password" class="ipt ipt-pwd js-loginPassword js-pass-pwd" placeholder="6-16位密码，区分大小写，不能用空格" maxlength="16" autocomplete="off"/>
													<p class="rlf-tip-wrap errorHint color-red " data-error-hint="请输入6-16位密码，区分大小写，不能使用空格！"></p>
												</div>
            <div class="rlf-group pr">
													<input id="tel" type="text" value=""  maxlength="37" name="tel" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入手机号"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入手机号"></p>
												</div>
            <div class="rlf-group pr">
													<input id="addr" type="text" value=""  maxlength="37" name="addr" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入地址"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入地址"></p>
												</div>
            <div class="rlf-group pr">
													<input id="name" type="text" value=""  maxlength="37" name="name" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入姓名"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入姓名"></p>
												</div>
<div class="rlf-group pr">
													<input id="QQ" type="text" value=""  maxlength="37" name="QQ" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入QQ"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入QQ"></p>
												<div class="rlf-group clearfix form-control js-verify-row">
                                                    <div class="rlf-group pr">
													<input id="wechat" type="text" value=""  maxlength="37" name="wechat" data-validate="require-mobile-phone" autocomplete="off" class="xa-emailOrPhone ipt ipt-email js-own-name" placeholder="请输入微信号"/>
													<p class="rlf-tip-wrap errorHint color-red" data-error-hint="请输入微信号"></p>
												<div class="rlf-group clearfix form-control js-verify-row">
													<select id="select" class="ui-select">
														<option id="buyer" value="1">买家注册</option>
														<option id="seller" value="2">卖家注册</option>
													</select>
												</div>

												<div class="rlf-group clearfix">
													<input id="regist" type="button" value="注册" class="btn-red btn-full xa-login" onclick="test()"/>
												</div>
											</form>
		<div class="vright">
			© 2014 imooc.com All Rights Reserved 京ICP备 13046642号
		</div>
		<!--script-->

	</body>

</html>