<div class="course-list">
    <div class="moco-course-list">
        <ul class="clearfix">
            <div class='index-card-container course-card-container container '>
                <a target="_blank" class='course-card' href="./shop/?id={{ shop_id }}">
                    <div class='course-card-top cart-color red'>
                        <i class='imv2-war'>
                        </i>
                        <span>
                            {{ shop_name }}
                        </span>
                    </div>
                    <div class='course-card-content'>
                        <h3 class='course-card-name'>
                            {{ shop_name }}
                        </h3>
                        <p title='{{ shop_title }}'>
                            {{ shop_title }}
                        </p>
                        <div class='clearfix course-card-bottom'>
                            <div class='course-card-info'>
                                {{ shop_type }}
                                <span>
                                    ·
                                </span>
                                {{ shop_click_num }}人点击
                            </div>
                        </div>
                    </div>
                </a>
                <div class='course-card-bk'>
                </div>
            </div>
        </ul>
    </div>
</div>